<div class="navbar">
<a class="nav-link" href="/category/1">Travel</a>
        <a class="nav-link" href="/category/2">Technology</a>
        <a class="nav-link" href="/category/3">Design</a>
        <a class="nav-link" href="/category/4">Science</a>
        <a class="nav-link" href="/category/5">Health</a>
        <a class="nav-link" href="/category/6">Style</a>
    
        <% if (user) { %>
          <a class="nav-link" href="/create-post">Create Post</a>
          <% } %>
      </nav>
</div>