<%- include("partials/header.ejs") %>

<div class="forgot-password-container mt-5">
    <h2 class="text-center">Forgot Password</h2>

    <% if (message) { %>
      <div class="alert alert-success">
        <%= message %>
      </div>
    <% } %>

    <form action="/forgot-password" method="POST">
        <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
        </div>
        <button type="submit" class="btn btn-send-link">Send email to reset</button>
      </form>
</div>


<%- include("partials/footer.ejs") %>