<%- include('partials/header.ejs') %>

<div class="container-confirm-posts">
    <h2 class="text-center">Your post has been created</h2>

    <p class="text-center mt-3">The post is now under approval and will be published once approved by the admin.</p>
    <div class="text-center mt-3">
  <a href="/">Back to Home</a>
</div>
  </div>



<%- include('partials/footer.ejs') %>