<%- include("partials/header.ejs") %>

<div class="reset-container">
  <h2 class="text-center">Reset your password</h2>

  <form action="/reset-password/<%= token %>" method="POST" class="reset-form">
    <div class="form-group">
      <label for="password">New Password:</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Enter new password" required>
    </div>
    <button type="submit" class="btn btn-reset-pwd">Reset Password</button>
  </form>
</div>

<%- include("partials/footer.ejs") %>
